<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>User Page</title>
</head>
<body>
<!-- Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" href="#addItemModal" data-toggle="modal">
                    <a class="nav-link mr-1" href="#"><i class="fas fa-plus-circle scale_130 text-white"></i><span  type="submit" class="nav_text ml-2">Add Item</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mr-1" href="/user/">
                        <i class="fas fa-clipboard-list scale_120"></i><span  type="submit" class="nav_text ml-2">Storage</span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="/user/orders">
                        <span th:if="${ordersCount!=0}" th:text="${ordersCount}" id="newOrders" class="badge badge-pill"></span>
                        <i class="fas fa-shopping-cart scale_120"></i><span type="submit" class="nav_text ml-2">Orders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-1" href="/user/deliveries">
                        <i class="fas fa-truck scale_120"></i><span type="submit" class="nav_text ml-2">Deliveries</span>
                    </a>
                </li>
                <li class="nav-item nac-item-inline">
                    <a class="nav-link"  href="/user/account"><i class="fas fa-user-circle scale_140"></i><span type="submit" class="nav_text ml-2">Account</span></a>
                </li>
            </ul>
            <form action="/user/page/search" method="GET"  class="form-inline my-2 my-lg-0">
                <input name="value" class="form-control mr-sm-2" type="text" placeholder="Search">
                <input id="search_count" name="count" hidden>
                <input id="search_page"  name="page" hidden>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search scale_120"></i></button>
            </form>
        </div>
    </div>
</nav>
<!-- /Nav Bar-->

<div class="container p-0">
    <!-- Table-->
    <!--        <div class="row p-0">-->
    <!--            <div class="col-lg-12 p-0">-->
    <div class="page-header pl-3 mt-5 mb-5">
        <h1>Storage Items</h1>
    </div>
    <div class="table mb-5 p-0">
        <form th:action="@{/user/page}" method="GET">
            <div class="d-flex justify-content-between">
                <div class="form-group form-inline">
                    <select th:name="count" id="pag_count" class="form-control-sm border-primary shadow-none mr-2" onchange="this.form.submit()">
                        <th:block th:each="count:${countList}" >
                            <option th:value="${count}" th:text="${count}" th:selected="${count == countSelected}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="btn-group" role="group" aria-label="Pagination">
                    <button id="pag_down" type="submit" class="form-control form-control-sm btn btn-primary btn-sm" th:disabled="${pageSelected == 1}">&laquo;</button>
                    <select th:name="page" id="pag_page" class="form-control form-control-sm border-primary pag_drop shadow-none rounded-0" onchange="this.form.submit()">
                        <th:block th:each="page_nr:${#numbers.sequence(1,lastPage,1)}" >
                            <option th:value="${page_nr}" th:text="${page_nr}" th:selected="${page_nr == pageSelected}"></option>
                        </th:block>
                    </select>
                    <button id="pag_up" type="submit" class="form-control form-control-sm btn btn-primary btn-sm" th:disabled="${pageSelected == lastPage}">&raquo;</button>
                </div>
            </div>
        </form>
        <div class="form-group">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th style="width: 10%">Quantity</th>
                    <th style="width: 40%">Title</th>
                    <th style="width: 20%">Serial</th>
                    <th style="width: 20%">Update</th>
                </tr>
                </thead>
                <tbody id="table-body">
                <tr id="tableRow" th:each="item:${items}" class="center">
                    <th:block th:if="${item.quantity!=0}" >
                        <input th:value="${item.id}" type="hidden">
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.title}"></td>
                        <td th:text="${item.serial}"></td>
                        <td class="align-middle p-0">
                            <div class="form-inline justify-content-center my-2 my-lg-0">
                                <a  class="btn btn-info btn-sm ml-1" href="#editItemModal" data-toggle="modal">
                                                <span class="pl-4 pr-4" >
                                                    <i class="fas fa-pencil-alt scale_120"></i>
                                                </span>
                                </a>
                                <a class="btn btn-sm ml-3 pt-2" href="#deleteItemModal" data-toggle="modal">
                                    <i class="fas fa-times scale_120" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    </th:block>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--            </div>-->
    <!--        </div>-->
</div>
<!-- /Table-->

<!-- Add Item Modal-->
<div class="modal fade" id="addItemModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-plus-circle fa-2x ml-1 mr-2 pb-2"></i>
                    <h3 class="ml-2">Add Item</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="addItemBody" class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <!--              <div class="form-group form-inline justify-content-between">
                                              <tr>         -->
                        <row class="row justify-content-between">
                            <div class="col-sm-4 col-xs-11 text-center">
                                <label class="mb-2">Title</label>
                                <form class="form-inline justify-content-center mb-3 mb-sm-0">
                                    <input id="addTitle" class="form-control form-control-sm addItem_input mr-sm-2" type="text" placeholder="Title" required>
                                </form>
                            </div>
                            <div class="col-sm-4 col-xs-11 text-center">
                                <label class="mb-2">Serial</label>
                                <form class="form-inline justify-content-center mb-3 mb-sm-0">
                                    <input id="addSerial" class="form-control form-control-sm addItem_input mr-sm-2" type="text" placeholder="Serial" required>
                                </form>
                            </div>
                            <div class="col-sm-2 col-xs-11 text-center">
                                <label class="mb-2 ml-sm-n3" >Quantity</label>
                                <form class="form-inline justify-content-center mb-3 mb-sm-0">
                                    <input id="addQuantity" class="form-control form-control-sm addItem_input_nbr mr-sm-2" type="number" placeholder="Qty" required>
                                </form>
                            </div>
                        </row>
                        <!--                       </tr>
                                            </div>           -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="addItemConfirm" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Add Item Modal-->

<!-- Edit Item Modal-->
<div class="modal fade" id="editItemModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-pencil-alt fa-2x ml-1 mr-2 pb-2"></i>
                    <h3 class="ml-2">Update Item</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="form-group form-inline justify-content-between">
                            <tr>
                                <td class="align-middle p-0 mt-2">
                                    <div class="d-block font-weight-bold" >
                                        <label class="mb-1">Id</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="editId" class="form-control form-control addItem_input_nbr mr-sm-1" type="text" placeholder="id" disabled>
                                        </form>
                                    </div>
                                </td>
                                <td class="d-block align-middle p-0 mt-2">
                                    <div class="d-block font-weight-bold" >
                                        <label class="mb-1">Title</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="editTitle" class="form-control form-control addItem_input mr-sm-1" type="text" placeholder="Title" required>
                                        </form>
                                    </div>
                                </td>
                                <td class="d-block align-middle p-0">
                                    <div class="d-block font-weight-bold" >
                                        <label class="mb-1">Serial</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="editSerial" class="form-control form-control addItem_input mr-sm-1" type="text" placeholder="Serial" required>
                                        </form>
                                    </div>
                                </td>
                                <td class="d-block align-middle p-0">
                                    <div class="d-block font-weight-bold">
                                        <label class="mb-1">Quantity</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="editQuantity" class="form-control form-control addItem_input_nbr mr-sm-1" type="number" placeholder="Qty" required>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="editConfirm" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Item Modal-->

<!-- Delete Item Modal-->
<div class="modal fade" id="deleteItemModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-trash-alt fa-2x ml-1 mr-2 pb-2"></i>
                    <h3 class="ml-2">Delete item?</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="form-group form-inline justify-content-between">
                            <tr>
                                <td class="align-middle p-0 mt-2">
                                    <div class="d-block font-weight-bold" >
                                        <label class="mb-1">Id</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="deleteId" class="form-control form-control addItem_input_nbr mr-sm-1" type="text" disabled>
                                        </form>
                                    </div>
                                </td>
                                <td class="d-block align-middle p-0 mt-2">
                                    <div class="d-block font-weight-bold" >
                                        <label class="mb-1">Title</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="deleteTitle" class="form-control form-control addItem_input mr-sm-1" type="text" disabled>
                                        </form>
                                    </div>
                                </td>
                                <td class="d-block align-middle p-0">
                                    <div class="d-block font-weight-bold" >
                                        <label class="mb-1">Serial</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="deleteSerial" class="form-control form-control addItem_input mr-sm-1" type="text" disabled>
                                        </form>
                                    </div>
                                </td>
                                <td class="d-block align-middle p-0">
                                    <div class="d-block font-weight-bold">
                                        <label class="mb-1">Quantity</label>
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <input id="deleteQuantity" class="form-control form-control addItem_input_nbr mr-sm-1" type="number" disabled>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-3 justify-content-right p-0 pl-4">
                    <button type="button" id="deleteConfirm" class="btn btn-block btn-danger">Yes</button>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Item Modal-->

<!-- Order List Modal-->
<div class="modal fade" id="orderListModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-shopping-cart fa-2x ml-3 mr-4 pb-2 pl-3"></i>
                    <h3>Orders</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Order</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Select</th>
                                </tr>
                                </thead>
                                <tbody id="ordersTable">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                <button id="orderSend" type="button" class="btn btn-success">Send</button>
                <button id="orderDecline" type="button" class="btn btn-danger">Decline</button>
            </div>
        </div>
    </div>
</div>
<!-- /Order List Modal-->

<!-- Order Items Modal-->
<div class="modal fade" id="orderItemModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-pencil-alt fa-2x ml-1 mr-2 pb-2"></i>
                    <h3 class="ml-2">Order Items</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Serial</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                                </thead>
                                <tbody id="orderItemsTable">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Order Items Modal-->

<!-- Deliveries Modal-->
<div class="modal fade" id="deliveriesModal" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-truck fa-2x ml-3 mr-4 pb-2 pl-3"></i>
                    <h3 id="tables">Deliveries</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody id="deliveriesTable">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- /Deliveries Modal-->

<!--Account  Modal-->
<div class="modal fade" id="accountModal" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <h5 type="submit" class="ml-3 mr-3"><i class="fas fa-user-circle fa-2x"></i></h5>
                    <h2>Account</h2>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-md-offset-4">
                        <form class="form-horizontal" role="form">
                            <fieldset>

                                <!-- Form Name -->
                                <legend class="ml-3 mt-3 mb-3">Login Details</legend>

                                <!-- Text input-->
                                <div class="row align-left">
                                    <!-- Text input-->
                                    <div class="col-md-10 d-flex justify-content-left">
                                        <div class="form-group col-md-4 ">
                                            <label class="col-sm-7 control-label" for="clientEmail">E-mail</label>
                                            <div>
                                                <input id="clientEmail" type="email" placeholder="Email" class="form-control">
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Form Name -->
                                <legend class="ml-3 mt-3 mb-3">Branch Details</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="clientCompany">Title</label>
                                    <div class="col-sm-10">
                                        <input id="clientCompany" type="text" placeholder="Company" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-10 p-0 d-flex justify-content-left">
                                    <div class="form-group col-md-8 ">
                                        <label class="col-sm-7 p-0 control-label" for="clientName">Name Surname</label>
                                        <div>
                                            <input id="clientName" type="text" placeholder="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="col-sm-2 p-0 control-label" for="clientPhone">Phone</label>
                                        <div>
                                            <input id="clientPhone" type="text" placeholder="City" class="form-control">
                                        </div>
                                    </div>
                                </div>


                                <!-- Form Name -->
                                <legend class="ml-3 mt-3 mb-3">Address Details</legend>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="clientAddress1">Line 1</label>
                                    <div class="col-sm-10">
                                        <input id="clientAddress1" type="text" placeholder="Address Line 1" class="form-control">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="clientAddress2">Line 2</label>
                                    <div class="col-sm-10">
                                        <input id="clientAddress2" type="text" placeholder="Address Line 2" class="form-control">
                                    </div>
                                </div>

                                <div class="row align-left">
                                    <!-- Text input-->
                                    <div class="col-md-10 d-flex justify-content-between">
                                        <div class="form-group col-md-4">
                                            <label class="col-sm-2 p-0 control-label" for="clientCity">City</label>
                                            <div>
                                                <input id="clientCity" type="text" placeholder="City" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="col-sm-2 p-0 control-label" for="clientPost">Postcode</label>
                                            <div>
                                                <input id="clientPost" type="text" placeholder="Post Code" class="form-control">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group col-md-4">
                                            <label class="col-sm-2 p-0 control-label" for="clientCountry">Country</label>
                                            <div>
                                                <input id="clientCountry" type="text" placeholder="Country" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Change</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--/Account  Modal-->

<!--Message Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="messageModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <H4 id="messageTitle">Title</H4>
                <p id="messageBody" class="mt-4">Message to show</p>
            </div>
            <div class="modal-footer">
                <div class="col-3">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/script/jquery.min.js"></script>
<script src="/script/bootstrap.bundle.min.js"></script>
<script src="/script/custom.js"></script>
<script src="/script/user_sc.js"></script>
</body>
</html>