<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="https://kit.fontawesome.com/aaab8858c1.js" crossorigin="anonymous"></script>

    <title>User Page</title>
  </head>
  <body>
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link mr-2" href="#">
                        <span  type="submit" class="mr-2"><i class="fas fa-clipboard-list scale_120"></i></span>
                            Storage
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item" href="#addItemModal" data-toggle="modal">
                    <a class="nav-link mr-2" href="#"><span  type="submit" class="mr-2"><i class="fas fa-plus-circle scale_130"></i></span>Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" href="#orderListModal" data-toggle="modal">
                        <span type="submit" class="mr-2"><i class="fas fa-shopping-cart scale_120"></i></span>
                            Orders 
                        <span class="badge badge-warning badge-pill ml-1">1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-2" href="#deliveriesModal" data-toggle="modal">
                        <span type="submit" class="mr-2"><i class="fas fa-truck scale_120"></i></span>
                            Deliveries
                    </a>
                </li>
                <li class="nav-item nac-item-inline" href="#AccountModal" data-toggle="modal">
                    <a class="nav-link" href="#"><span type="submit" class="mr-2"><i class="fas fa-user-circle scale_140"></i></span>Account</a>
                   
                </li>
                </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search scale_120"></i></button>
            </form>
        </div>
    </nav>
    <!-- /Nav Bar-->

    <div class="container-lg">
        <!-- Table-->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header pl-3 mt-5 mb-5">
                    <h1>Storage Items</h1>
                </div>
                <div class="table">
                    <form th:action="@{/user/page}" method="GET" >
                        <div class="d-flex justify-content-between">
                            <div class="form-group form-inline">
                                <select th:name="count" class="form-control-sm border-primary shadow-none mr-2" onchange="this.form.submit()">
                                    <th:block th:each="count:${countList}" >
                                        <option th:value="${count}" th:text="${count}" th:selected="${count == countSelected}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="btn-group" role="group" aria-label="Pagination">
                                <button id="pag_down" type="submit" class="form-control form-control-sm btn btn-primary btn-sm" th:disabled="${pageSelected == 1}">&laquo;</button>
                                <select th:name="page" id="pag_page" class="form-control form-control-sm border-primary pag_drop shadow-none rounded-0" onchange="this.form.submit()">
                                    <th:block th:each="page_nr:${#numbers.sequence(1,lastPage,1)}" >
                                        <option th:value="${page_nr}" th:text="${page_nr}" th:selected="${page_nr == pageSelected}"></option>
                                    </th:block>
                                </select>
                                <button id="pag_up" type="submit" class="form-control form-control-sm btn btn-primary btn-sm" th:disabled="${pageSelected == lastPage}">&raquo;</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Title</th>
                            <th scope="col">Serial</th>
                            <th scope="col">Update</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                            <tr id="tableRow" th:each="item:${items}" class="center">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.title}"></td>
                                <td th:text="${item.serial}"></td>
                                <td class="align-middle p-0">
                                    <form class="form-inline justify-content-center my-2 my-lg-0">
                                        <a  class="btn btn-info btn-sm ml-1" href="#editItemModal" data-toggle="modal"><span class="pl-4 pr-4" ><i class="fas fa-pencil-alt scale_120"></i></span></a>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
    <!-- /Table-->

    <!-- Add Item Modal-->
    <div class="modal fade" id="addItemModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="d-flex justify-content-between">
            <div class="form-inline page-header mt-4 ml-4"> 
                <i class="fas fa-plus-circle fa-2x ml-1 mr-2 pb-2"></i>
                <h3 class="ml-2">Add Item</h3>
            </div>
            <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="form-group form-inline justify-content-between">
                        <tr>
                            <td class="align-middle p-0 mt-2">
                                <div class="d-block" >
                                    <label class="h5 mb-2">Title</label>
                                    <form class="form-inline justify-content-center my-2 my-lg-0">
                                        <input id="addTitle" class="form-control form-control addItem_input mr-sm-2" type="text" placeholder="Title" required>
                                    </form>
                                </div>
                            </td>
                            <td class="align-middle p-0">
                                <div class="d-block" >
                                    <label class="h5 mb-2">Serial</label>
                                    <form class="form-inline justify-content-center my-2 my-lg-0">
                                        <input id="addSerial" class="form-control form-control addItem_input mr-sm-2" type="text" placeholder="Serial" required>
                                    </form>
                                </div>
                            </td>
                            <td class="align-middle p-0">
                                <div class="d-block">
                                    <label class="h5 mb-2">Quantity</label>
                                    <form class="form-inline justify-content-center my-2 my-lg-0">
                                        <input id="addQuantity" class="form-control form-control addItem_input_nbr mr-sm-2" type="number" placeholder="Qty" required>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="addItemConfirm" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    <!-- /Add Item Modal-->

    <!-- Edit Item Modal-->
    <div class="modal fade" id="editItemModal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="d-flex justify-content-between">
                    <div class="form-inline page-header mt-4 ml-4">
                        <i class="fas fa-pencil-alt fa-2x ml-1 mr-2 pb-2"></i>
                        <h3 class="ml-2">Update Item</h3>
                    </div>
                    <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="form-group form-inline justify-content-between">
                                    <tr>
                                        <td class="align-middle p-0 mt-2">
                                            <div class="d-block font-weight-bold" >
                                                <label class="mb-1">Id</label>
                                                <form class="form-inline justify-content-center my-2 my-lg-0">
                                                    <input id="editId" class="form-control form-control addItem_input_nbr mr-sm-1" type="text" placeholder="id" disabled>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="d-block align-middle p-0 mt-2">
                                            <div class="d-block font-weight-bold" >
                                                <label class="mb-1">Title</label>
                                                <form class="form-inline justify-content-center my-2 my-lg-0">
                                                    <input id="editTitle" class="form-control form-control addItem_input mr-sm-1" type="text" placeholder="Title" required>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="d-block align-middle p-0">
                                            <div class="d-block font-weight-bold" >
                                                <label class="mb-1">Serial</label>
                                                <form class="form-inline justify-content-center my-2 my-lg-0">
                                                    <input id="editSerial" class="form-control form-control addItem_input mr-sm-1" type="text" placeholder="Serial" required>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="d-block align-middle p-0">
                                            <div class="d-block font-weight-bold">
                                                <label class="mb-1">Quantity</label>
                                                <form class="form-inline justify-content-center my-2 my-lg-0">
                                                    <input id="editQuantity" class="form-control form-control addItem_input_nbr mr-sm-1" type="number" placeholder="Qty" required>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="editConfirm" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Item Modal-->

    <!-- Order Item Modal-->
    <div class="modal fade" id="orderItemModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="d-flex justify-content-between">
                    <div class="form-inline page-header mt-4 ml-4">
                        <i class="fas fa-pencil-alt fa-2x ml-1 mr-2 pb-2"></i>
                        <h3 class="ml-2">Update Item</h3>
                    </div>
                    <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="form-group">
                                <table class="table table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th scope="col">Title <a href="#orderItemModal" data-toggle="modal">Go</a></th>
                                        <th scope="col">Serial</th>
                                        <th scope="col">Request</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Alloy Wheels</td>
                                        <td>JDSF443JDDS</td>
                                        <td class="align-middle p-0">
                                            <form class="form-inline justify-content-center my-2 my-lg-0">
                                                <input class="form-control form-control-sm tbl_input_width  mr-sm-2" type="number" value=0 required>
                                                <button class="btn  btn-sm ml-1" type="submit"><span type="submit" class="mr-1"><i class="fas fa-times scale_120"></i></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alloy Wheels</td>
                                        <td>JDSF443JDDS</td>
                                        <td class="align-middle p-0">
                                            <form class="form-inline justify-content-center my-2 my-lg-0">
                                                <input class="form-control form-control-sm tbl_input_width  mr-sm-2" type="number" value=0 required>
                                                <button class="btn  btn-sm ml-1" type="submit"><span type="submit" class="mr-1"><i class="fas fa-times scale_120"></i></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alloy Wheels</td>
                                        <td>JDSF443JDDS</td>
                                        <td class="align-middle p-0">
                                            <form class="form-inline justify-content-center my-2 my-lg-0">
                                                <input class="form-control form-control-sm tbl_input_width  mr-sm-2" type="number" value=0 required>
                                                <button class="btn  btn-sm ml-1" type="submit"><span type="submit" class="mr-1"><i class="fas fa-times scale_120"></i></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Alloy Wheels</td>
                                        <td>JDSF443JDDS</td>
                                        <td class="align-middle p-0">
                                            <form class="form-inline justify-content-center my-2 my-lg-0">
                                                <input class="form-control form-control-sm tbl_input_width  mr-sm-2" type="number" value=0 required>
                                                <button class="btn  btn-sm ml-1" type="submit"><span type="submit" class="mr-1"><i class="fas fa-times scale_120"></i></span></button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Order Item Modal-->

    <!-- Order List Modal-->
    <div class="modal fade" id="orderListModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-shopping-cart fa-2x ml-3 mr-4 pb-2 pl-3"></i>
                    <h3>Orders</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Order <a id="mygtukas" href="#orderItemModal" data-toggle="modal">Go</a></th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Select</th>
                                </tr>
                                </thead>
                                <tbody id="ordersTable">
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <div class="custom-control  custom-checkbox">
                                                <input type="checkbox" class="custom-control-input " id="customCheck4">
                                                <label class="custom-control-label" for="customCheck4"></label>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <div class="custom-control  custom-checkbox">
                                                <input type="checkbox" class="custom-control-input " id="customCheck34">
                                                <label class="custom-control-label" for="customCheck34"></label>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <div class="custom-control  custom-checkbox">
                                                <input type="checkbox" class="custom-control-input " id="customCheck2">
                                                <label class="custom-control-label" for="customCheck2"></label>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <div class="custom-control  custom-checkbox">
                                                <input type="checkbox" class="custom-control-input " id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1"></label>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
                <button type="button" class="btn btn-danger">Decline</button>
            </div>
        </div>
        </div>
    </div>
    <!-- /Order List Modal-->

    <!-- Deliveries Modal-->
    <div class="modal fade" id="deliveriesModal" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="d-flex justify-content-between">
                <div class="form-inline page-header mt-4 ml-4">
                    <i class="fas fa-truck fa-2x ml-3 mr-4 pb-2 pl-3"></i>
                    <h3 id="tables">Deliveries</h3>
                </div>
                <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="form-group">
                            <table class="table table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Serial</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">                        
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <button class="btn btn-danger btn-sm ml-1" type="submit"><span class="pl-4 pr-4" type="submit"><i class="fas fa-times scale_120 pl-1 pr-1"></i></span></button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">                        
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <button class="btn btn-warning btn-sm ml-1" type="submit"><span class="pl-4 pr-4" type="submit"><i class="fas fa-truck scale_120"></i></span></button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">                        
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <button class="btn btn-success btn-sm ml-1" type="submit"><span class="pl-4 pr-4" type="submit"><i class="fas fa-check scale_120"></i></span></button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alloy Wheels</td>
                                    <td>JDSF443JDDS</td>
                                    <td class="align-middle p-0">                        
                                        <form class="form-inline justify-content-center my-2 my-lg-0">
                                            <button class="btn btn-success btn-sm ml-1" type="submit"><span class="pl-4 pr-4" type="submit"><i class="fas fa-check scale_120"></i></span></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Close</button>
            </div>
            </div>
        </div>
    </div>
    <!-- /Deliveries Modal-->

    <!--Account  Modal-->
    <div class="modal fade" id="AccountModal" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="d-flex justify-content-between">
            <div class="form-inline page-header mt-4 ml-4">
                <h5 type="submit" class="ml-3 mr-3"><i class="fas fa-user-circle fa-2x"></i></h5>
                <h2>Account</h2>
            </div>
            <button type="button" class="close mt-3 mr-4 mb-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <form class="form-horizontal" role="form">
                    <fieldset>

                        <!-- Form Name -->
                        <legend class="ml-3 mt-3 mb-3">Login Details</legend>
            
                        <!-- Text input-->
                        <div class="row align-left">
                        <!-- Text input-->
                        <div class="col-md-10 d-flex justify-content-left">
                            <div class="form-group col-md-4 ">
                                <label class="col-sm-7 control-label" for="textinput">E-mail</label>
                                <div>
                                <input type="email" placeholder="Email" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-sm-2 control-label" for="textinput">Password</label>
                                <div>
                                <input type="text" placeholder="City" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col-sm control-label" for="textinput">Repeat Password</label>
                                <div>
                                <input type="text" placeholder="Post Code" class="form-control">
                                </div>
                            </div>
                        </div>
                        </div>
            
                            <!-- Form Name -->
                        <legend class="ml-3 mt-3 mb-3">Branch Details</legend>
            
                        <!-- Text input-->
                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Title</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Company" class="form-control">
                        </div>
                        </div>
            
                        <div class="col-md-10 p-0 d-flex justify-content-left">
                        <div class="form-group col-md-8 ">
                            <label class="col-sm-7 p-0 control-label" for="textinput">Name Surname</label>
                            <div>
                            <input type="text" placeholder="Email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="col-sm-2 p-0 control-label" for="textinput">Phone</label>
                            <div>
                            <input type="number" placeholder="City" class="form-control">
                            </div>
                        </div>
                    </div>
                        
                    
                    <!-- Form Name -->
                    <legend class="ml-3 mt-3 mb-3">Address Details</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Line 1</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Address Line 2" class="form-control">
                        </div>
                    </div>

                        <!-- Text input-->
                        <div class="form-group">
                        <label class="col-sm-2 control-label" for="textinput">Line 2</label>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Address Line 2" class="form-control">
                        </div>
                        </div>
                        
                        <div class="row align-left">
                            <!-- Text input-->
                            <div class="col-md-10 d-flex justify-content-between">
                                <div class="form-group col-md-4">
                                    <label class="col-sm-2 p-0 control-label" for="textinput">City</label>
                                    <div>
                                    <input type="text" placeholder="City" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="col-sm-2 p-0 control-label" for="textinput">Postcode</label>
                                    <div>
                                    <input type="text" placeholder="Post Code" class="form-control">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group col-md-4">
                                    <label class="col-sm-2 p-0 control-label" for="textinput">Country</label>
                                    <div>
                                    <input type="text" placeholder="Country" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </fieldset>
                    </form>
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Change</button>
            <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
    </div>
    <!--/Account  Modal-->

    <!--Message Modal-->
    <div class="modal" tabindex="-1" role="dialog" id="messageModal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/script/jquery.min.js"></script>
    <script src="/script/bootstrap.bundle.min.js"></script>
    <script src="/script/custom.js"></script>
    <script src="/script/client_sc.js"></script>
  </body>
</html>